<p style="color: green"><%= notice %></p>

<div class="page-title">
  <h1><strong><%= @account.name %></strong> - <%= @account.account_type %></h1>
</div>
<span class="account-button">
  <%= link_to "Edit account", edit_account_path(@account), data: { turbo_frame: "modal"}, class:"btn btn-primary" %>
</span>

<section class="info">

  <div class="side-bar">
    <div class="accounts-menu">
      <h3 class="side-bar-content">Accounts</h3>
      <%= link_to [:accounts], class: "no-underline" do %>
        <div class="side-bar-content hover row-hover">OVERVIEW</div>
      <% end %>
      <% @accounts.each do |account| %>
        <%= link_to account_path(account), class: "no-underline" do %>
          <div class="side-bar-content hover row-hover"><%= account.name %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <article class="account-contents">
    <div class="account-color">
    <% if @account.credit? %>
      <h2 class="account-balance"><strong>Balance:</strong> <%= humanized_money_with_symbol(Money.new(-@account.current_balance_cents)) %></h2>
      <% else %>
        <h2 class="account-balance">
          <strong>Balance:</strong> <%= humanized_money_with_symbol(Money.new(@account.current_balance_cents)) %>
        </h2>
      <% end %>

      <div class="account-graph">
        <%= line_chart lineGraphData(@account), xtitle: "Days in #{Date.today.strftime("%B")}", ytitle: "Balance", label: "Balance Available", prefix: "$", thousands: ",", xmin: "#{Date.today.strftime("%B%Y")} 1" %>
      </div>
    </div>
  </article>
</section>

<section>
  <h2><strong>Transactions:</strong></h2>
  <div>

  <div class="row-container">
    <div class="container text-center">
      <div class="row underline-row">
        <div class="col my-auto"><strong>Date:</strong></div>
        <div class="col my-auto"><strong>Merchant:</strong></div>
        <div class="col my-auto"><strong>Amount:</strong></div>
        <div class="col my-auto"><strong>Category:</strong></div>
        <div class="col-1 my-auto"><strong>Edit:</strong></div>
      </div>
    

      <% @account_transactions.each do |charge| %>
        <%= render partial: 'charge', locals: { charge: charge } %>
      <% end %>

    </div> 
  </div>
</section>